<!DOCTYPE html>
<html>
  <head>
    <title>FlaskEngine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
  </head>
  <body id="page">
    <div id="content">
      <h1>FlaskEngine</h1>
      <nav>
        {% if not session.logged_in %}
          <a href="{{ url_for('login') }}">log in</a>
        {% else %}
          <a href="{{ url_for('logout') }}">log out</a>
        {% endif %}
      </nav>
      {% for message in get_flashed_messages() %}
        <p class="flash">{{ message }}</p>
      {% endfor %}
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
